{% extends "chapter/base.html.twig" %}

{% block title chapter %}
{% block body %}
    <h1>Chapter {{ chapter }}</h1>

    {% include "_includes/formatted_chapter.html.twig" with {chapter: chapter} only %}



    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapter.id }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ chapter.section }}</td>
            </tr>
            <tr>
                <th>Scene</th>
                <td>{{ chapter.scene }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chapter.description }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
