{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('characters') }}
{% endblock %}

{% block xxstylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block page_title %}Characters{% endblock %}
{% block page_subtitle %}index (via make:crud){% endblock %}

{% block page_content_before %}
    <div class="well-sm">
        {{ "pages.%s"|format(app.request.get('_route'))|trans }}
    </div>
{% endblock %}

{% block body %}

    {% if api|default(false) %}
        <h3><span id="max">??</span> Characters, survos_datatable</h3>
        {% set api_route = 'api_characters_get_collection' %}
        <a href="{{ path(api_route) }}">{{ api_route }}</a>

        <table id="character_table" class="xxsurvos-datatable" data-dt-ajax="{{ path(api_route)}}">
        </table>
    {% else %}
        {{ block('html_table') }}
    {% endif %}

{% endblock %}

{% block html_table %}

    <div class="col">
        <h3>{{ characters|length }} Characters (via HTML {{ datatable ? '+basic .DataTable()' }})</h3>
    </div>


    <table class="table tables-bordered table-striped table-hover  {{ datatable|default(false) ? 'table-datatable' }}"
       data-xxscroll-y="80vh"
       id="html_character_table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for character in characters %}
        <tr>
            <td><sm>{{ character.id }}</sm></td>
            <td><a href="{{ path('character_show', character.rp) }}">{{ character.name }}</a></td>
            <td>{{ character.description }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}