{% extends 'base.html.twig' %}

{% block title %}Search Dashboard{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>ElasticaSearch Test</h1>

    <a href="{{ path('search_create_index') }}" class="btn btn-primary">(Re-)Create Index</a>
    {{ form(form) }}

    Results

    Mapping?

    {% if mapping %}
        {{ block('mappingTable') }}
    {% endif %}

</div>
{% endblock %}

{% block mappingTable %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Code</th>
        <th>Map</th>
        <th>Keyword</th>
        <th>Ignore</th>
        <th>Dump</th>
    </tr>
    </thead>
    <tbody>
    {% for code, m in mapping.properties %}
        <tr>
            <td>{{ code }}</td>
            <td>{{ m.type }}</td>
            <td>{{ m.fields.keyword.type|default('') }}</td>
            <td>{{ m.fields.keyword.ignore_above|default('') }}</td>

            <td>
                {#
                {{ dump(m.fields|default([])) }}
                {% for var, val  in m.fields|default([]) %}
                    <li>{{ var }}: {{ dump(val) }}</li>
                {% endfor %}
                #}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}