{% extends '@SurvosBase/base.html.twig' %}


{% block logo_mini %}<b>Bard</b>{% endblock %}

{% block page_title 'Shakespeare' %}
{% block page_subtitle 'Works, Characters, and a bunch of cool tools' %}

{% block page_content_before %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}Tech Notes{% endblock %}
        {% block box_body %}
            <div class="callout callout-info">
                {{ '%s.notes'|format(app.request.get('_route'))|trans|markdown   }}
            </div>
        {% endblock %}
    {% endembed %}

    {% block page_nave %}
        {% include '@SurvosBase/render_page_menu.html.twig' %}
    {% endblock %}

{% endblock %}

{% block logo_large %} {{ 'home.title'|trans }} {% endblock %}

    {% block stylesheets %}

        {# this comes from kevinpapst adminlte bundle, but is identical to colorhq via composer or yarn add admin-lte:^3
        <link rel="stylesheet" href="{{ asset('bundles/adminlte/adminlte.css') }}">
        #}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
