{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('works-datatable') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock %}


{% block page_subtitle %}
    json-ld call (hyrda) to ElasticSearch!!, rendering by SurvosDataTable Component
{% endblock %}

{% block body %}
    <div class="container">


    <div class="row">
        <div class="col">
            {% set route = 'api_work_get_collection' %}
            {% set hydraUrl = path(route) %}
            <a target="_blank" href="{{ hydraUrl }}">{{ hydraUrl }}</a>

            <table id="work-table" data-dt-ajax="{{ hydraUrl }}"></table>
        </div>

        <div class="col">
            <h3>Characters</h3>
            {% set route = 'api_characters_get_collection' %}
            {% set hydraUrl = path(route) %}

            <a target="_blank" href="{{ hydraUrl }}">{{ hydraUrl }}</a>

            <table id="character-table" class="table"  data-dt-ajax="{{ hydraUrl }}"></table>
        </div>

    </div>

    </div>



{% endblock %}

