{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('works-datatable') }}
{% endblock %}

{% set api_route = 'api_works_get_collection' %}

{% block page_subtitle %}
    json-ld call (hyrda) to Doctrine (via {{ api_route }}!!!, rendering by SurvosDataTable Component
{% endblock %}

{% block body %}
    <div class="container">

    <div class="row">
        <div class="col">
            {% set hydraUrl = path(api_route) %}
            <a target="_blank" href="{{ hydraUrl }}">{{ hydraUrl }}</a>

            <table id="work-table" class="table table-bordered thead-dark table-condensed" data-dt-ajax="{{ hydraUrl }}"></table>
        </div>

    </div>

    </div>



{% endblock %}

