{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('works-datatable') }}
{% endblock %}

{% set api_route = 'api_work_outputs_get_collection' %}

{% block page_subtitle %}
    json-ld call (hyrda), using {{ api_route }} (WorkOutput, Elastica)
{% endblock %}

{% block body %}
    <div class="container">

    <div class="row">
        <div class="col">
            {% set hydraUrl = path(api_route) %}
            <a target="_blank" href="{{ hydraUrl }}">{{ hydraUrl }}</a>
            <table id="work-output-table" data-dt-ajax="{{ hydraUrl }}"></table>
        </div>

    </div>

    </div>



{% endblock %}

