{% extends 'base.html.twig' %}

{% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('simple-datatable') }}
{% endblock %}


{% block page_title %}Works{% endblock %}

{% block page_subtitle %}
        Super-simple HTML table, created by make:crud and .DataTable() call.
{% endblock %}

{% block body %}

{#    {% if not apply_basic_datatable %}#}
{#        <form><input name="q" value="{{ q|default('') }}"/><button type="submit"><span class="fas fa-search"></span> </button></form>#}
{#    {% endif %}#}

    <h3>Simple</h3>

    <table id="dynamic" class="table"></table>

{#    {% include "work/_table.html.twig" with {works: works, apply_basic_datatable: apply_basic_datatable } only %}#}

    {% if is_granted('ROLE_ADMIN') %}
    <hr />
    Admin
    <a href="{{ path('work_index', {fix: true}) }}">Fix</a>
    <a href="{{ path('work_index', {fixText: true}) }}">Fix Text</a>
    {% endif %}

{% endblock %}
