{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block page_title %}Works{% endblock %}

{% block page_subtitle %}
        Super-simple HTML table, created by make:crud and .DataTable() call.
{% endblock %}

{% block body %}
    <table class="table table-striped works-datatable" id="works-html-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>LongTitle</th>
                <th>Year</th>
                <th>Source</th>
                <th>Chapters</th>
                <th>TotalWords</th>
                <th>TotalParagraphs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work in works %}
            <tr>
                <td>{{ work.id }}</td>
                <td>{{ work.title }}</td>
                <td>{{ work.longTitle }}</td>
                <td>{{ work.year  }}</td>
                <td>{{ work.source }}</td>

                <td>
                    {{ work.chapters.count }}
                </td>
                <td>{{ work.totalWords }}</td>
                <td>{{ work.totalParagraphs }}</td>
                <td>
                    <a href="{{ path('work_show', {'id': work.id}) }}">show</a>
                    {% set url = url('work_fountain', work.rp({_format: 'fountain'}) ) %}
                    <a target="_blank" href="{{ url }}">.fountain</a>

                    <a href="{{ path('work_edit', {'id': work.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr />
    Admin?
    <a href="{{ path('work_index', {fix: true}) }}">Fix</a>
    <a href="{{ path('work_index', {fixText: true}) }}">Fix Text</a>

{% endblock %}
