{% extends 'work/base.html.twig' %}

{% block title %}Work{% endblock %}

{% block body %}
    <h1>Work: {{ work }}</h1>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ work.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ work.title }}</td>
            </tr>
            <tr>
                <th>LongTitle</th>
                <td>{{ work.longTitle }}</td>
            </tr>
            <tr>
                <th>ShortTitle</th>
                <td>{{ work.shortTitle }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ work.source }}</td>
            </tr>
            <tr>
                <th>TotalWords</th>
                <td>{{ work.totalWords }}</td>
            </tr>
            <tr>
                <th>TotalParagraphs</th>
                <td>{{ work.totalParagraphs }}</td>
            </tr>
            <tr>
                <th>{{ work.chapterCount }} Chapters</th>
                <td>
                    {% for chapter in work.chapters %}
                        <a href="{{ path('chapter_show', chapter.rp) }}">
                            <li>{{ chapter }}</li>
                        </a>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>



{% endblock %}
