{% extends "work/base.html.twig" %}

{% block body %}
    <ol>

        {% for chapter in work.chapters %}
            <li>
                <h2>
                    <a href="{{ path('chapter_show', chapter.rp) }}">
                        {{ chapter }}
                    </a>
                </h2>
                {% include "_includes/formatted_chapter.html.twig" with {chapter: chapter} only %}


                <ol>
                    {% for paragraph in chapter.paragraphs %}
                        <li>{{ paragraph.charId }} ({{ paragraph.type }}): {{ paragraph|split('[p]')|join('<br />')|raw }}</li>
                    {% endfor %}
                </ol>

            </li>
        {% endfor %}
    </ol>


{% endblock %}

